.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 515px;
    flex-grow: 1;
    padding-bottom: 10%;
}

.hero__container {
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 490px;
        height: 490px;
        border-radius: 50%;
        background: url("../../images/bgs/hero-bg.png") center center / cover no-repeat;
        background-color: white;
    }
}

.hero__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.hero__text {
    font-size: 21px;
    width: 390px;
}

.features {
    display: flex;
    justify-content: space-between;
}

.feature {
    display: flex;
}

.feature__icon {
    margin-right: 10px;
}

.feature__desc {
    display: flex;
    width: 120px;
}