* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Play, Arial, Helvetica, sans-serif;
    font-size: $mainSize;
    color: $black;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
    transition: color .3s;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background: transparent;
    border: none;
}

section {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

input, textarea {
    &:focus-visible {
        outline: none;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@mixin btn($c) {
    background-color: $c;
    @if ($c == $red) {
        color: white;
        transition: background-color .3s;
        &:hover {
            background-color: #CA1B36;
        }
    } @else {
        color: $red;
        transition: color .3s;
        &:hover {
            color: #CA1B36;
        }
    }
}

.btn {
    display: flex;
    width: 165px;
    height: 55px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    &-red {
        @include btn($red)
    }
    &-white {
        @include btn(white)
    }
}

.title {
    font-size: $titleSize;
    text-transform: uppercase;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
}

.sub-title {
    font-size: $subTitleSize;
    font-weight: 700;
}