* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Play, Arial, Helvetica, sans-serif;
    font-size: $mainSize;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
    transition: color .3s;
    &:hover {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background: transparent;
    border: none;
}

section {
    min-height: 100vh;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
    padding-top: 25px;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}
