* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
}

ul {
    padding: 0;
    margin: 0;
    
    li {
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background: transparent;
    border: none;
}

